button {
  --px: var(--pixel, 2px);
  font-family: NESPixel;
  font-size: 2rem;
  border: 0;
  margin: calc(3 * var(--px)) calc(1 * var(--px));
  color: white;
  background-color: color-mix(in srgb, var(--color), white 20%);
  text-shadow:
    var(--glitch),
    0 calc(1 * var(--px)) color-mix(in srgb, var(--color), black 25%);
  box-shadow:
    0 calc(1 * var(--px)) color-mix(in srgb, var(--color), black 10%),
    0 calc(-1 * var(--px)) color-mix(in srgb, var(--color), black 10%),
    calc(1 * var(--px)) 0 color-mix(in srgb, var(--color), black 10%),
    calc(-1 * var(--px)) 0 color-mix(in srgb, var(--color), black 10%),
    0 calc(3 * var(--px)) color-mix(in srgb, var(--color), black 50%),
    calc(1 * var(--px)) calc(2 * var(--px)) color-mix(in srgb, var(--color), black 50%),
    calc(-1 * var(--px)) calc(2 * var(--px)) color-mix(in srgb, var(--color), black 50%),
    0 calc(4 * var(--px)) rgb(from var(--color) r g b / .1),
    calc(1 * var(--px)) calc(3 * var(--px)) rgb(from var(--color) r g b / .1),
    calc(-1 * var(--px)) calc(3 * var(--px)) rgb(from var(--color) r g b / .1),
    calc(2 * var(--px)) calc(1 * var(--px)) rgb(from var(--color) r g b / .1),
    calc(-2 * var(--px)) calc(1 * var(--px)) rgb(from var(--color) r g b / .1),
    inset 0 calc(1 * var(--px)) color-mix(in srgb, var(--color), white 50%);
  cursor: pointer;
}

button:not(:disabled):hover,
button:not(:disabled):focus {
  transform: translateY(calc(1 * var(--px)));
  background-color: var(--color);
  box-shadow:
    0 calc(1 * var(--px)) color-mix(in srgb, var(--color), black 10%),
    0 calc(-1 * var(--px)) color-mix(in srgb, var(--color), black 10%),
    calc(1 * var(--px)) 0 color-mix(in srgb, var(--color), black 10%),
    calc(-1 * var(--px)) 0 color-mix(in srgb, var(--color), black 10%),
    0 calc(2 * var(--px)) color-mix(in srgb, var(--color), black 50%),
    calc(1 * var(--px)) calc(1 * var(--px)) color-mix(in srgb, var(--color), black 50%),
    calc(-1 * var(--px)) calc(1 * var(--px)) color-mix(in srgb, var(--color), black 50%),
    0 calc(3 * var(--px)) rgb(from var(--color) r g b / .1),
    calc(1 * var(--px)) calc(2 * var(--px)) rgb(from var(--color) r g b / .1),
    calc(-1 * var(--px)) calc(2 * var(--px)) rgb(from var(--color) r g b / .1),
    calc(2 * var(--px)) calc(1/2 * var(--px)) rgb(from var(--color) r g b / .1),
    calc(-2 * var(--px)) calc(1/2 * var(--px)) rgb(from var(--color) r g b / .1),
    inset 0 calc(1 * var(--px)) color-mix(in srgb, var(--color), white 20%);
  cursor: pointer;
}

button:disabled {
  filter: grayscale(1) contrast(0.75) brightness(1) opacity(0.5);
  pointer-events: none;
}
