@import "reset.css";
@import "fonts.css";
@import "variables.css";

.crt {
  height: 100dvh;
  padding: 4vh;
  position: relative;
  overflow-y: auto;
  color: var(--foreground);
  background:
    /* R */ radial-gradient(100% 100% at 0 0, transparent, rgb(255 0 0 / .1) 100%),
    /* G */ radial-gradient(100% 100% at 0 100%, transparent, rgb(0 255 0 / .1) 100%),
    /* B */ radial-gradient(100% 100% at 100% 0, transparent, rgb(0 0 255 / .1) 100%),
    /* White */ radial-gradient(100% 100% at 100% 100%, transparent, rgb(255 255 255 / .1) 100%),
    /* Black */ var(--background);
  /* circle clip fallback */ clip-path: inset(0 round 5vh);
  --_r: clamp(0%, 5vh, 20vh);
  --_v: calc(var(--_r)*(1 - sqrt(2)/4));
  --_p: calc(var(--_v) - var(--_r)/2);
  /* squircle clip */ clip-path: shape(
    from var(--_v) var(--_p),
    curve to 50% 0 with var(--_r) 0,
    curve to calc(100% - var(--_v)) var(--_p) with calc(100% - var(--_r)) 0,
    curve to calc(100% - var(--_p)) var(--_v) with calc(100% - 2*var(--_p)) calc(2*var(--_p)),
    curve to 100% 50% with 100% var(--_r),
    curve to calc(100% - var(--_p)) calc(100% - var(--_v)) with 100% calc(100% - var(--_r)),
    curve to calc(100% - var(--_v)) calc(100% - var(--_p)) with calc(100% - 2*var(--_p)) calc(100% - 2*var(--_p)),
    curve to 50% 100% with calc(100% - var(--_r)) 100%,
    curve to var(--_v) calc(100% - var(--_p)) with var(--_r) 100%,
    curve to var(--_p) calc(100% - var(--_v)) with calc(2*var(--_p)) calc(100% - 2*var(--_p)),
    curve to 0 50% with 0 calc(100% - var(--_r)),
    curve to var(--_p) var(--_v) with 0 var(--_r),
    curve to var(--_v) var(--_p) with calc(2*var(--_p)) calc(2*var(--_p))
  );
}

@property --crt-rx {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 0;
}

@property --crt-ry {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 0;
}

.crt.on::before {
  --crt-rx: 100vw;
  --crt-ry: 100vh;
}

.crt::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1;
  background: /* vignette */ radial-gradient(ellipse var(--crt-rx) var(--crt-ry) at center, transparent 50%, #000 75%);
}

.crt::after {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  mix-blend-mode: multiply;
  background: /* scanlines */ linear-gradient(to bottom, transparent 50%, rgb(0 0 0 / .2) 50%) 0 0 / 100% 2px repeat;
}

.flicker  {
  text-shadow: var(--glitch);
}

@media (prefers-reduced-motion: no-preference) {
  .crt:not(.on)::before { animation: turn-off 1s ease-in-out forwards; }
  .crt.on::before { animation: turn-on 1s ease-in-out forwards; }
  .crt.on::after { animation: scanlines calc(1s/4) linear infinite; }
  .flicker { animation: flicker calc(1s/12) infinite alternate; }
}

@keyframes turn-on {
  0% { --crt-rx: 0; --crt-ry: 0; }
  25% { --crt-rx: 1vh; --crt-ry: 1vh; }
  75% { --crt-rx: 100vw; --crt-ry: .5vh; }
  100% { --crt-rx: 100vw; --crt-ry: 100vh; }
}

@keyframes turn-off {
  0% { --crt-rx: 100vw; --crt-ry: 100vh; }
  25% { --crt-rx: 100vw; --crt-ry: .5vh; }
  75% { --crt-rx: 1vh; --crt-ry: 1vh; }
  100% { --crt-rx: 0; --crt-ry: 0; }
}

@keyframes beam {
  from { transform: translateY(50%); }
  to { transform: translateY(-50%); }
}

@keyframes scanlines {
  from { transform: translateY(0); }
  to { transform: translateY(2px); }
}

@keyframes flicker {
  from { text-shadow: var(--glitch); }
  to { text-shadow: var(--glitch-animated); }
}

h1 {
  font-family: TimesNewPixel;
  font-size: 6rem;
}

h2 {
  font-family: NESPixel;
  font-size: 4rem;
}
p {
  font-family: HelvetiPixel;
  font-size: 2rem;
}

button {
  --color: var(--blue);
  font-family: NESPixel;
  font-size: 2rem;
  border: 0;
  margin: .36em .12em;
  color: white;
  background-color: color-mix(in srgb, var(--color), white 20%);
  text-shadow:
    0 .06em color-mix(in srgb, var(--color), black 25%),
    0 .12em color-mix(in srgb, var(--color), black 25%);
  box-shadow:
    0 .12em color-mix(in srgb, var(--color), black 10%),
    0 -.12em color-mix(in srgb, var(--color), black 10%),
    .12em 0 color-mix(in srgb, var(--color), black 10%),
    -.12em 0 color-mix(in srgb, var(--color), black 10%),
    0 .36em color-mix(in srgb, var(--color), black 50%),
    .12em .24em color-mix(in srgb, var(--color), black 50%),
    -.12em .24em color-mix(in srgb, var(--color), black 50%),
    0 .48em rgb(from var(--color) r g b / .1),
    .12em .36em rgb(from var(--color) r g b / .1),
    -.12em .36em rgb(from var(--color) r g b / .1),
    .24em .12em rgb(from var(--color) r g b / .1),
    -.24em .12em rgb(from var(--color) r g b / .1),
    inset 0 .12em color-mix(in srgb, var(--color), white 50%);
  cursor: pointer;
}

button:not(:disabled):hover,
button:not(:disabled):focus {
  transform: translateY(.12em);
  background-color: var(--color);
  box-shadow:
    0 .12em color-mix(in srgb, var(--color), black 10%),
    0 -.12em color-mix(in srgb, var(--color), black 10%),
    .12em 0 color-mix(in srgb, var(--color), black 10%),
    -.12em 0 color-mix(in srgb, var(--color), black 10%),
    0 .24em color-mix(in srgb, var(--color), black 50%),
    .12em .12em color-mix(in srgb, var(--color), black 50%),
    -.12em .12em color-mix(in srgb, var(--color), black 50%),
    0 .36em rgb(from var(--color) r g b / .1),
    .12em .24em rgb(from var(--color) r g b / .1),
    -.12em .24em rgb(from var(--color) r g b / .1),
    .24em .06em rgb(from var(--color) r g b / .1),
    -.24em .06em rgb(from var(--color) r g b / .1),
    inset 0 .12em color-mix(in srgb, var(--color), white 20%);
  cursor: pointer;
}

button:not(:disabled):active {
  transform: translateY(.24em);
  background-color: color-mix(in srgb, var(--color), black 10%);
  box-shadow:
    0 .12em color-mix(in srgb, var(--color), black 20%),
    0 -.12em color-mix(in srgb, var(--color), black 20%),
    .12em 0 color-mix(in srgb, var(--color), black 20%),
    -.12em 0 color-mix(in srgb, var(--color), black 20%),
    0 .24em rgb(from var(--color) r g b / .1),
    .12em .12em rgb(from var(--color) r g b / .1),
    -.12em .12em rgb(from var(--color) r g b / .1),
    .24em .0 rgb(from var(--color) r g b / .1),
    -.24em 0 rgb(from var(--color) r g b / .1);
  cursor: pointer;
}

button:disabled {
  filter: grayscale(1) contrast(0.75) brightness(1) opacity(0.5);
  pointer-events: none;
}
