.crt {
  --ratio: 5 / 4;
  aspect-ratio: var(--ratio);
  width: min(100dvw, calc(100dvh * var(--ratio)));
  display: grid;
  position: relative;
  --crt-r: 10vh;
  /* circle clip fallback */ clip-path: inset(0 round var(--crt-r));
  --crt-v: calc(var(--crt-r)*(1 - sqrt(2)/4));
  --crt-p: calc(var(--crt-v) - var(--crt-r)/2);
  /* squircle clip */ clip-path: shape(
    from var(--crt-v) var(--crt-p),
    curve to 50% 0 with var(--crt-r) 0,
    curve to calc(100% - var(--crt-v)) var(--crt-p) with calc(100% - var(--crt-r)) 0,
    curve to calc(100% - var(--crt-p)) var(--crt-v) with calc(100% - 2*var(--crt-p)) calc(2*var(--crt-p)),
    curve to 100% 50% with 100% var(--crt-r),
    curve to calc(100% - var(--crt-p)) calc(100% - var(--crt-v)) with 100% calc(100% - var(--crt-r)),
    curve to calc(100% - var(--crt-v)) calc(100% - var(--crt-p)) with calc(100% - 2*var(--crt-p)) calc(100% - 2*var(--crt-p)),
    curve to 50% 100% with calc(100% - var(--crt-r)) 100%,
    curve to var(--crt-v) calc(100% - var(--crt-p)) with var(--crt-r) 100%,
    curve to var(--crt-p) calc(100% - var(--crt-v)) with calc(2*var(--crt-p)) calc(100% - 2*var(--crt-p)),
    curve to 0 50% with 0 calc(100% - var(--crt-r)),
    curve to var(--crt-p) var(--crt-v) with 0 var(--crt-r),
    curve to var(--crt-v) var(--crt-p) with calc(2*var(--crt-p)) calc(2*var(--crt-p))
  );
}

@media (orientation: landscape) {
  .crt {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

@media (orientation: portrait) {
  .crt {
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
  }
}

@property --crt-x {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --crt-y {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 0%;
}

.crt.on::before {
  --crt-x: 100%;
  --crt-y: 100%;
}

.crt::before {
  --opacity: .05;
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1;
  background:
    /* vignette */ radial-gradient(ellipse var(--crt-x) var(--crt-y) at center, transparent 75%, #000 100%),
    /* R */ radial-gradient(circle at 15% 100%, rgb(255 0 0 / var(--opacity)) 25%, transparent 75%),
    /* G */ radial-gradient(circle at 50% 0, rgb(0 255 0 / var(--opacity)) 25%, transparent 75%),
    /* B */ radial-gradient(circle at 85% 100%, rgb(0 0 255 / var(--opacity)) 25%, transparent 75%),
    /* light */ radial-gradient(circle at center, rgb(255 255 255 / calc(2 * var(--opacity))) 50%, transparent 100%);
}

.crt::after {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 2;
}

.crt.on::after {
  --opacity: .2;
  background: 
    /* scanlines */ linear-gradient(to bottom, transparent 50%, rgb(0 0 0 / var(--opacity)) 50%) 0 0 / 100% 2px repeat;
}

.crt.noise::after {
  --noise: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.5' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)'/%3E%3C/svg%3E");
  background:
    /* noise */ black var(--noise) repeat 0 0 / 500px 500px;
}

.crt > * {
  overflow: auto;
  padding: 5vh;
}


