.library {
  --x: -5;
  --y: -3;
  --size: 256px;
  --scale: 3;
  position: relative;
  background: url(../images/library.png ) repeat center / calc(var(--scale) * var(--size));
  image-rendering: pixelated;
}

.library.active::after {
  --shelf: "Shelf";
  content: var(--shelf);
  position: absolute;
  left: 50%;
  top: 50%;
  /*transform: translate(calc((var(--scale) * var(--size) * var(--x)) - 50%), calc((var(--scale) * var(--size) * var(--y)) - 50%));*/
  transform: translate(-50%, -50%);
  pointer-events: none;
  overflow: hidden;
}
