@import "reset.css";
@import "fonts.css";
@import "variables.css";

@import "buttons.css";
@import "crt.css";
@import "shelves.css";

body  {
  min-height: 100dvh;
  color: var(--foreground);
  background-color: var(--background);
  font-family: HelvetiPixel;
  font-size: 2rem;
}

:focus-visible {
  outline-width: var(--pixel);
}

h1 {
  font-family: TimesNewPixel;
  font-size: 6vw;
}

h2 {
  font-family: NESPixel;
  font-size: 3rem;
}

.glitch  {
  text-shadow: var(--glitch);
}

@media (prefers-reduced-motion: no-preference) {
  .crt:not(.active)::before { animation: turn-off 1s ease-in-out forwards; }
  .crt.active::before { animation: turn-on 1s ease-in-out forwards; }
  .crt.active::after { animation: scanlines calc(1s / 12) linear infinite; }
  .crt.noise::after { animation: noise calc(1s / 6) steps(3) infinite; }
  .glitch { animation: glitch calc(1s / 12) infinite alternate; }
  .shelves.active { animation: shelves 5s cubic-bezier(0.9, 0, 0.1, 1) forwards; }
  .shelves.active::after { animation: shelf 5s cubic-bezier(0.9, 0, 0.1, 1) forwards; }
}

@keyframes shelves {
  0% { background-position: 50% 50%; }
  50% { background-position: calc(50% + (var(--scale) * var(--size) * var(--x))) 50%; }
  100% { background-position: calc(50% + (var(--scale) * var(--size) * var(--x))) calc(50% + (var(--scale) * var(--size) * var(--y))); }
}

@keyframes shelf {
  0% { transform: translate(calc(-1 * (var(--scale) * var(--size) * var(--x)) - 50%), calc(-1 * (var(--scale) * var(--size) * var(--y)) - 50%)); }
  50% { transform: translate(-50%, calc(-1 * (var(--scale) * var(--size) * var(--y)) - 50%)); }
  100% { transform: translate(-50%, -50%); }
}

/* @keyframes shelf {
  0% { left: calc(-1 * (var(--scale) * var(--size) * var(--x)) + 50%); top:calc(-1 * (var(--scale) * var(--size) * var(--y)) + 50%); }
  50% { left: 50%; top: calc(-1 * (var(--scale) * var(--size) * var(--y)) + 50%); }
  100% { left: 50%; top: 50%; }
}
 */
@keyframes turn-on {
  0% { --crt-x: 0; --crt-y: 0; }
  50% { --crt-x: .5%; --crt-y: .5%; }
  75% { --crt-x: 100%; --crt-y: 1%; }
  100% { --crt-x: 100%; --crt-y: 100%; }
}

@keyframes turn-off {
  0% { --crt-x: 100%; --crt-y: 100%; }
  25% { --crt-x: 100%; --crt-y: .1%; }
  50% { --crt-x: 1%; --crt-y: 1%; }
  100% { --crt-x: 0; --crt-y: 0; }
}

@keyframes scanlines {
  from { background-position: 0 -1px; }
  to { background-position: 0 1px; }
}

@keyframes noise {
  0% { background-position: 0 0; }
  50% { background-position: -100px 250px; }
  100% { background-position: -300px -350px; }
}

@keyframes glitch {
  from { text-shadow: var(--glitch); }
  to { text-shadow: var(--glitch-animated); }
}

.library {
  height: 100dvh;
  background: var(--background) url(../images/library.png ) no-repeat center / contain;
  image-rendering: pixelated;
}