@import "reset.css";
@import "fonts.css";
@import "variables.css";

@import "buttons.css";
@import "crt.css";

body  {
  color: var(--foreground);
  background-color: var(--background);
  font-family: HelvetiPixel;
  font-size: 2rem;
}

h1 {
  font-family: TimesNewPixel;
  font-size: 5rem;
}

h2 {
  font-family: NESPixel;
  font-size: 3rem;
}

.glitch  {
  text-shadow: var(--glitch);
}

@media (prefers-reduced-motion: no-preference) {
  .crt:not(.on)::before { animation: turn-off 1s ease-in-out forwards; }
  .crt.on::before { animation: turn-on 1s ease-in-out forwards; }
  .crt.on::after { animation: scanlines calc(1s / 12) linear infinite; }
  .crt.noise::after { animation: noise calc(1s / 6) steps(3) infinite; }
  .glitch { animation: glitch calc(1s / 12) infinite alternate; }
}

@keyframes turn-on {
  0% { --crt-x: 0; --crt-y: 0; }
  50% { --crt-x: .5%; --crt-y: .5%; }
  75% { --crt-x: 100%; --crt-y: 1%; }
  100% { --crt-x: 100%; --crt-y: 100%; }
}

@keyframes turn-off {
  0% { --crt-x: 100%; --crt-y: 100%; }
  25% { --crt-x: 100%; --crt-y: .1%; }
  50% { --crt-x: 1%; --crt-y: 1%; }
  100% { --crt-x: 0; --crt-y: 0; }
}

@keyframes beam {
  from { transform: translateY(50%); }
  to { transform: translateY(-50%); }
}

@keyframes scanlines {
  from { transform: translateY(0); }
  to { transform: translateY(2px); }
}

@keyframes noise {
  0% { background-position: 0 0 }
  50% { background-position: -100px 250px }
  100% { background-position: -300px -350px }
}

@keyframes glitch {
  from { text-shadow: var(--glitch); }
  to { text-shadow: var(--glitch-animated); }
}