:root {
  /* sizes */
  --pixel: .2rem;

  /* colors */
  --foreground: #111;
  --background: #FFF;
  --red: #CD3E3E;
  --orange: #B85000;
  --yellow: #8A6500;
  --green: #007A40;
  --cyan: #007A8F;
  --blue: #2E63D6;
  --purple: #7B3FE4;
  --pink: #C737A8;
  --grey: #626367;

  /* effects */
  --glitch:
    /* C */ calc(1 * var(--pixel)) 0 2px rgba(0, 255, 255, .2),
    /* M */ calc(-1 * var(--pixel)) 0 2px rgba(255, 0, 255, .2),
    /* Y */ 0 0 4px rgba(255, 255, 0, .4);
  --glitch-animated:
    /* C */ calc(-1/2 * var(--pixel)) 0 2px rgba(0, 255, 255, .2),
    /* M */ calc(1/2 * var(--pixel)) 0 2px rgba(255, 0, 255, .2),
    /* Y */ 0 0 2px rgba(255, 255, 0, .2);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* colors */
    --foreground: #FFF;
    --background: #111;
  }
}

[data-theme="dark"] {
  --foreground: #FFF;
  --background: #111;
}