:root {
  --foreground: #fff;
  --background: #111;

  --red: #CD3E3E;
  --orange: #B85000;
  --yellow: #8A6500;
  --green: #007A40;
  --cyan: #007A8F;
  --blue: #2E63D6;
  --purple: #7B3FE4;
  --pink: #C737A8;
  --grey: #626367;

  --glitch:
    /* C */ .2rem 0 2px rgba(0, 255, 255, .2),
    /* M */ -.2rem 0 2px rgba(255, 0, 255, .2),
    /* Y */ 0 0 4px rgba(255, 255, 0, .4);

  --glitch-animated:
    /* C */ -.1rem 0 2px rgba(0, 255, 255, .2),
    /* M */ .1rem 0 2px rgba(255, 0, 255, .2),
    /* Y */ 0 0 2px rgba(255, 255, 0, .2);
}
